

/*素材图片界面详情course_detail.php*/
/*详情和相关课程菜单*/
.tab-bar__item {  height: 45px; width: 50%;float: left;line-height: 45px; text-align: center; }
.tab-bar__item a{color: #000;}
.tab-bar__item.z-active a{color: #188fee;}
.tab-bar__item.z-active {  border-bottom: 2px solid #188fee; }

/*相关课程*/
.rel-class__title { font-size: 14px; line-height: 40px; height: 40px;  padding-left: 16px;  color: #000; }
.course { position: relative;padding: 10px 16px 10px 146px;height: 68px;line-height: 20px;background: #fff;border-bottom: 1px solid #ccc;}
.course__cover {overflow: hidden;position: absolute; top: 10px;left: 16px;width: 120px; height: 68px; background: url(http://9.url.cn/edu/mobilev2/img/default-img.74ba483.png) #fff no-repeat top left; background-size: 120px 68px;}
.course__name { width: 100%; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; word-break: break-all; overflow: hidden; max-height: 40px;  white-space: inherit;  }
.course__info { overflow: hidden; margin-top: 8px;max-height: 20px; white-space: nowrap;text-overflow: ellipsis; word-break: break-all;}
.u-price.z-free { color: #5fb41b; }
.u-message {margin: 0 20px;}
.u-comment, .u-message {display: inline-block; height: 12px;font-size: 12px; line-height: 12px; color: #bbb; }


/*详情*/
.basic-info-list__item { overflow: hidden; position: relative;margin-bottom: 10px; }
.basic-info-list__item-title { padding: 0 0 0 16px; height: 40px; font-size: 14px;line-height: 40px;}
.basic-info-list__item-title {padding: 0 0 0 16px;height: 40px;font-size: 14px; line-height: 40px; }
.basic-info-list__check-all { float: right; padding-right: 32px; font-size: 12px; font-style: normal; line-height: 40px;color: #999; }
.basic-info-list__comment-cnt .mod-comments-list__item {position: relative;margin-left: 16px;padding: 14px 0;font-size: 12px;line-height: 16px; }
.star-list i { display: inline-block; width: 15px; height: 15px; margin: 0 1px;  cursor: pointer; background: url(../images/wujiao1.png) no-repeat;background-size: 11px auto;}
.basic-info-list__comment-cnt .mod-comments-list-item__content { margin-bottom: 4px; padding-right: 16px; word-wrap: break-word; color: #404040; }
.basic-info-list__comment-cnt .mod-comments-list__name,  .basic-info-list__comment-cnt .mod-comments-list-item__date { float: left;  }
.basic-info-list__comment-cnt .mod-comments-list__name {  margin-right: 10px;color:#c4c4c4 }



/*最底端*/
.bottom {  position: fixed; bottom: 0;z-index: 10; width: 100%;height: 50px;line-height: 50px;background: #fff;border-top:1px solid #ccc;}
.bottom__fav-wrap, .bottom__contact-wrap,.bottom__share-wrap,.bottom__tui-wrap,.bottom__discuss-wrap,.bottom__cart-wrap {float: left; padding-top: 9px;width: 22px; height: 41px;  text-align: center;margin-left: 25px; }
.bottom__fav, .bottom__contact,.bottom__share,.bottom__tui,.bottom__discuss,.bottom__cart{ display: block; position: relative; border: 0; padding: 0; height: 41px;background: #fff; -webkit-appearance: none;  }
.bottom__fav:after {content: "收藏"; }
.bottom__contact:after { content: "联系我们"; }
.bottom__share:after { content: "分享"; }
.bottom__tui:after { content: "推送到公众号"; }
.bottom__discuss:after { content: "评论"; }
.bottom__cart:after { content: "购物车"; }
.bottom__fav:after, .bottom__contact:after,.bottom__share:after,.bottom__discuss:after,.bottom__cart:after  {position: absolute;bottom: 3px; left: 50%; margin-left: -23px;width: 50px;height: 20px;font-size: 11px;line-height: 20px;text-align: center; color: #666; }
.bottom__tui:after {position: absolute;bottom: 3px; left: 50%; margin-left: -25px;width: 80px;height: 20px;font-size: 11px;line-height: 20px;text-align: center; color: #666; }
.icon-font{ position:absolute;top: -2px;left: -8px;}
.bottom__appearance { display: block;float: right;position: relative;width: 129px;height: 50px; }
.course-action {display: block; border: 0;width: 130px;height: 40px;padding: 0; position: absolute; right: 10px;top: 5px; font-size: 20px;background: #e4007f;color: #fff;border-radius: 3px;}

/*个人中心center.php*/
.banner { z-index: 10;padding-top: 17px; width: 100%;height: 110px;background: #0662aa; }
.banner__info { text-align: center;}
.banner__name { font-size: 18px; line-height: 28px;color: #fff;}
.banner__nav { position: absolute; bottom: 5px; left: 0; width: 100%;height: 52px; }
.banner__nav li {float: left;width: 33%;}
.banner__link {  display: block;  text-align: center; }
a, a:active, a:hover { color: #0057af; text-decoration: none;  }
.banner__count { height: 24px; font-size: 24px;line-height: 24px; color: #eee;}
.banner__word { font-size: 12px; line-height: 28px; color: #eee;  }

.center-top {width: 100%;height: 90px;background: url(../images/center_top_bg.png) no-repeat scroll 0 0;background-size: 100% 100%;}
.center-top2 { width: 100%;height: 30px;background-color: rgb(255,253,253); position: relative; }
.center_avatar { width: 80px; height: 80px; border-radius: 40px;position: absolute;left: 10px;top: -60px; }
.member-info { height: 40px; position: absolute; left: 100px; top: -45px;line-height: 40px; font-size: 1.4em; color: #ffffff;}
.sep { width: 100%;height: 10px; }

.menu_3 { background-color: #ffffff;border-bottom: 1px solid rgb(220,219,219); border-top: 1px solid rgb(220,219,219);  }
.menu_title{padding: 15px;font-weight: bolder}
.menu_3 .item { padding: 2px 0px 0px 3%;}
.menu_3 .txt {line-height: 40px; height: 40px;font-size: 15px;color: rgb(64,61,61); margin-left: 5px; }
.menu_3 .right-icon { left: 97%;position: absolute; margin-top: 10px;width: 12px;height: 20px; margin-left: -15px; }
.arrow-icon {background-position: -228px -68px;display: inline-block; vertical-align: middle; }
.sep-line { width: 94%; border-top: 1px solid #EEEEEE;  margin: 0px auto;}
.history-icon {width: 25px;height: 40px;display: inline-block; vertical-align: middle;margin-top: 8px;}

#BgDiv{background-color:#999; position:absolute; z-index:99; left:0; top:0; display:none; width:100%; height:1000px;opacity:0.7;filter: alpha(opacity=70);-moz-opacity: 0.7;}
#DialogDiv{ width: 270px;background: #fff; border-radius: 5px; padding-top: 10px; position: fixed;top: 40%;left: 50%;  margin-left: -135px; z-index: 1005;}
#DialogDiv p{padding:8px 20px;font-size: 14px;}

#DialogDiv1{ width: 270px;background: #fff; border-radius: 5px; padding-top: 10px; position: fixed;top: 40%;left: 50%;  margin-left: -135px; z-index: 1005;}
#DialogDiv1 p{padding:8px 20px;font-size: 14px;}

.dialog-btn-group {z-index: 110;  position: relative; }
.dialog-btn-group button:first-child { border-bottom-left-radius: 5px; }
.dialog-btn-group .dialog-cancel-btn { color: gray;}
.dialog-btn-group button { height: 44px;width: 135px;text-align: center;line-height: 44px;border: 0; border-right: 1px solid #c2c2c2;float: left;background: transparent; color: #e4007f;  font-size: 17px; z-index: 120; }
.dialog-btn-group button:last-child { border-right: 0; border-bottom-right-radius: 5px;   }
.logout_btn {width: 80%;border-radius: 5px;text-align: center;color: #ffffff; font-size: 22px;margin: 30px 10% 70px 10%;background-color: #e4007f; padding: 8px 0px; cursor: pointer;}



/*comment.php 评论界面*/

.zonghe { padding: 20px 15px; font-size: 16px;font-weight: bolder;}
.zonghe img {padding-left: 1px; padding-bottom: 1px; }
.red_color {color: red; }
.pd_left15 { padding-left: 15px;}
.mod-comments-list__wrap{background-color: #fff;}
.mod-comments-list__item {position: relative; margin-left: 16px; padding: 14px 0;font-size: 12px; line-height: 16px;}
.mod-comments-list__list .mod-comments-list-item__content {margin-bottom: 4px; padding-right: 16px;word-wrap: break-word; color: #404040;}
.mod-comments-list-item__date{position: absolute;right: 5px;;top: 10px;}

/*遮罩层里面的内容*/
#BgDiv{background-color:#000; position:absolute; z-index:99; left:0; top:0; display:none; width:100%; height:150%;opacity:0.8;filter: alpha(opacity=80);-moz-opacity: 0.8;}

#DialogDiv{ width: 270px;background: #fff; border-radius: 5px; padding-top: 10px; position: fixed;top: 40%;left: 50%;  margin-left: -135px; z-index: 1005;}
.dialog-content {line-height: 22px;padding: 0 16px; margin: 6px 0;word-break: break-all;font-size: 14px; min-height: 45px;}
.comment-star-item { margin-bottom: 15px;  font-size: 14px; overflow: hidden   }
.commentbox-bd-row-col1 {float: left;  }
.commentbox-bd-comment {overflow: auto;width: 100%;height: 80px;resize: none;border: 0;background: #F4F4F4; }
.dialog-btn-group {z-index: 110;  position: relative; }
.dialog-btn-group button:first-child { border-bottom-left-radius: 5px; }
.dialog-btn-group .dialog-cancel-btn { color: gray;}
.dialog-btn-group button { height: 44px;width: 135px;text-align: center;line-height: 44px;border: 0; border-right: 1px solid #c2c2c2;float: left;background: transparent; color: #0079ff;  font-size: 17px; z-index: 120; }
.dialog-btn-group button:last-child { border-right: 0; border-bottom-right-radius: 5px;}
/*评论星星*/
.star{height:20px;width:105px;position:relative;background:url(../images/pinlun_start1.png) repeat-x;cursor:pointer}
.star li{float:left;padding:0px;margin:0px}
.star li a{display:block;width:24px;height:20px;overflow:hidden;text-indent:-9999px;position:absolute;z-index:5}
.star li a:hover{background:url(../images/pinlun_start2.png)  repeat-x;z-index:3;left:0}
.star a.one-star{left:0}
.star a.one-star:hover{width:22px}
.star a.two-stars{left:22px}
.star a.two-stars:hover{width:44px}
.star a.three-stars{left:44px}
.star a.three-stars:hover{width:66px}
.star a.four-stars{left:66px}
.star a.four-stars:hover{width:88px}
.star a.five-stars{left:88px}
.star a.five-stars:hover{width:105px}
.current-rating{background:url(../images/pinlun_start2.png) 0 -25px repeat-x;position:absolute;height:20px;z-index:1;top:15px;;left:128px;}


.bottom__app { display: block;;position: relative;width: 159px;height: 50px;margin:0 auto;; }



/*分享*/
#shareDiv{ width: 100%;height:192px;background: #E1E1E1;  padding-top: 10px; position: fixed;bottom: 0;left: 0;  z-index: 1005;}
.share_title{height: 40px;line-height: 40px;text-align: center;font-size: 18px;color: #737373}
.share_qx{height: 50px;line-height: 50px;text-align: center;font-size: 16px;color:#4295FF;background-color: #fff; }
#shareDiv ul li{float: left;width: 50%;text-align: center;height: 102px;}

/*收藏成功*/
.tip{background: #e3f3ff;width: 96%;height: 40px;line-height: 40px;z-index: 10000;margin: 0 2%; box-sizing: border-box; position: fixed;left: 0;top: 51px; text-align: center;overflow: hidden;-webkit-border-radius: 0 0 3px 3px;border-radius: 0 0 3px 3px;-webkit-transition: top .2s ease-out;display: none;}


/*相关阅读*/
.relate {margin-top: 10px;border: 1px solid #ececec;background-color: #fff;margin-bottom: 10px; }
.sub-title {position: relative;height: 17px;margin-top: 18px;margin-left: 15px;}
.sub-title p {font-size: 17px;color: #333;line-height: 16px;padding-left: 8px;border-left: 5px solid #e4007f;font-weight: 700;position: absolute;background: #fff;padding-right: 4px;}
.relate .sub-word {margin: 0 15px 15px;}
.relate .sub-word a {display: inline-block;border: 1px solid #999;border-radius: 20px;padding: 0 10px; margin: 15px 10px 0 0;font-size: 13px;height: 24px;line-height: 24px;color: #000}
.relate .item {display: block; padding: 0 16px;}
.relate .item-text {line-height: 25px;height: 25px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;padding-top: 5px;color: #000}
.relate .sub-orterInfo {margin-top: 5px;padding-bottom: 10px;color: #bbb;font-size: 12px;line-height: 14px;border-bottom: 1px solid #f2f2f2;}


/*图片素材详情*/
.z-noClass{width: 100%;height: 211px;;background-image: url("../images/tupian.png") ;background-size: 100% 100%}
.title-bar__title{margin: 0 20px;max-height: 44px;font-size: 18px; line-height: 22px;text-align: center;color: #fff;padding-top: 100px; }
.title-bar__info{font-size: 12px;line-height: 24px; text-align: center;  color: #ebebeb;}
.container { overflow: hidden; }
.js-item-bref{font-size: 14px;padding: 15px;}
.data-panel {width: 100%; color: #8f8f8f;overflow: hidden;padding: 20px 0;border: 1px dotted #c9c9c9; border-left: none; border-right: none; font-size: 12px; }
.data-panel li {text-align: center;width: 33%;vertical-align: top;float: left;}
.data-panel a { font-weight: 700; color: #949494;}
.data-panel i { font-family: "宋体";display: block; margin-top: 4px; color: #a7a7a7; }
.left-border {  border-left: 1px solid #e5e5e5; }




/*搜索界面 搜索框*/

